#todo-list {
	background-color: ff00ff;
	display: inline-block;
	width: 300px;
	height: 600px;
}
#completed-list {
	background-color: ff00ff;
	display: inline-block;
	width: 300px;
	height: 600px;
}
#list-one {

}
#list-two {
	
}
.black-font {
	font-style: black;
}
.red-font {
	font-style: red;
}